.cw-profile {
	background: #303133;
	color: #efefef;
	padding: 15px;
	border: 10px solid #222222;
	border-bottom: 0;
	border-top: 0;
	box-sizing: border-box;
}

.cw-basic-userdata {
	text-align: center;
}

.cw-header, .cw-header a {
	color: #efefef;
}

.cw-small-header {
	font-weight: bold;
}
.cw-langscore {
	height: 35px;
	line-height: 35px;
}

.cw-langscore span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.cw-language {
	font-size: 30px;
	margin-right: 10px;
}
